.albumTile{
    width: 300px;
    font-size: 0.7em;
}

.albumName{
    margin-block-end: 0.5em;
}

.subtitle{
    margin-block-start: 0.5em;
}

.tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    row-gap: 5svh;
}

.subtitle{
    font-style: italic;
}

.coverArt{
    width: 220px;
    border-radius: 5px;
}

.coverArt:not(.no-border){
    box-shadow: rgba(240, 46, 170, 0.4) 0 0 50px;
}

*[data-title-hidden="true"]{
    color: rgba(255,255,255,0);
}

*[data-title-hidden="true"]:focus,
*[data-title-hidden="true"]:active,
*[data-title-hidden="true"]::selection{
    color: white;
}