.AlbumPage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    gap: 5%;
    justify-content: center;
    align-items: flex-start;
}

.largeCoverArt{
    width: 50svmin
}

.part1, .part2{
    width: 70svmin;
    flex: 1;
}

.part1{
    margin-top: 5%;
}

li{
    list-style: none;
}

.trackNr{
    user-select: none;
}

ol{
    padding: 0;
}

.trackDiv, .albumName, .subtitle, .controlButton, .trackTitle, .songPlaying{
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}

.player{
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}