.player{
    position: fixed;
    bottom: 3em;
    right: 3em;
    padding: 1em;
    border-radius: 1em;
    background: rgb(255, 255, 255, 50%);
    cursor: move;
    max-width: 10em;
}

.controlButton{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0.5em;
}

.songPlaying{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}