.player{
    position: fixed;
    bottom: 3em;
    right: 3em;
    padding: 0.8em;
    border-radius: 1em;
    background: rgb(255, 255, 255, 50%);
}

.controlButton{
    background: none;
    border: none;
    cursor: pointer;
}